{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LM</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Supermercado LM</h1>
        
        <a href="{% url 'produtos:tela_produtos' %}">Produtos</a>
        <a href="{% url 'usuarios:login' %}">Login</a>
    </header>
    <main>
        <div class="layout">
            
            "carrossel de imagens"

        </div>

        <section id="sobre">
            <h2>Sobre Nós</h2>
            Bem-vindo ao <strong>LM</strong>!

            <p>Somos mais do que um supermercado — somos parte da sua rotina, da sua família e da sua comunidade. Desde nossa fundação, temos o compromisso de oferecer produtos de qualidade, atendimento acolhedor e preços justos para tornar o seu dia a dia mais prático e acessível.</p>

            <p>Aqui, você encontra uma ampla variedade de alimentos frescos, produtos de higiene, limpeza, bebidas, itens para o lar e muito mais. Trabalhamos com as melhores marcas do mercado e também valorizamos os produtores locais, garantindo variedade, frescor e procedência.</p>

            <p>Nosso time está sempre pronto para te atender com simpatia e dedicação. Queremos que cada visita ao <strong>LM</strong> seja física ou online, se torne uma experiência positiva, segura e agradável.</p>

            <p>Acreditamos na força da vizinhança, por isso investimos em ações sociais e sustentáveis, apoiando projetos locais e promovendo o consumo consciente.</p>

            <p>Obrigado por confiar no <strong>LM</strong>. Estamos aqui por você e para você, todos os dias.</p>


        </section>

    </main>

    <footer>
        <p>Site desenvolvido por Lucas Eduardo, em estudo do Curso de Tecnico em Desenvolvimento de Sistema - SENAC</p>
    </footer>
    
</body>
</html>