{% load static  %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
    
</head>
<body>
    <header>

        <h1>Supermercado LM</h1>

        <a href="{% url 'principal' %}">Principal</a>
        <a href=" {% url 'produtos:tela_produtos' %}">Produtos</a>
    </header>

    <div class="aviso">
        <p>Esta área é exclusiva para vendedores que possuem login, onde se pode editar e adicionar novos produtos.</p>
    </div>
   
<div class="produtos">

    {% for produto in produtos %}

    <div class="produto">
        <h3>{{produto.nome}}</h3>
        {% if produto.imagem %}
                <img src="{{ produto.imagem.url }}" alt="produto imagem" width="200px">
            {% else %}
                <p>Sem imagem</p>  {# ou coloque uma imagem padrão se quiser #}
            {% endif %}
        <p>{{produto.marca}}</p>
        <p>R$ {{produto.preco}}</p>
        <a href="{% url 'usuarios:remover' produto.id %}">Remover</a>
        <a href="{% url 'usuarios:editar' produto.id %}">Editar</a>
    </div>
    {% endfor %}
    <div id="novo_produto">

        <a href="{% url 'usuarios:vendedores' %}"><img src="{% static 'img/add.png' %}" alt="adicionar_produto" width="200px"></a>
        <p>NOVO PRODUTO</p>
    </div>
</div>
<footer>
    <p>Site desenvolvido por Lucas Eduardo, em estudo do Curso de Tecnico em Desenvolvimento de Sistema - SENAC</p>
</footer>

</body>
</html>