<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Produtos</title>
</head>
<body>
    <h1>Aqui é somente para vendedores da loja, onde iremos adicionar produtos novos</h1>

    <form action="" method="post">
        <h3>Adicionar Produto</h3>

        {% csrf_token %}
        {{form}}

        <br>
    <input type="submit" value="Enviar">
    </form>

    <a href="#">Voltar para o início</a>
    <a href="#">Editar Produtos</a>
    
</body>
</html>